# Feature Engineering

---

1. Import packages
2. Load data
3. Feature engineering

---

## 1. Import packages

In [1]:
import pandas as pd
import numpy as np

---
## 2. Load data

In [2]:
df = pd.read_csv('./clean_data_after_eda.csv')
df["date_activ"] = pd.to_datetime(df["date_activ"], format='%Y-%m-%d')
df["date_end"] = pd.to_datetime(df["date_end"], format='%Y-%m-%d')
df["date_modif_prod"] = pd.to_datetime(df["date_modif_prod"], format='%Y-%m-%d')
df["date_renewal"] = pd.to_datetime(df["date_renewal"], format='%Y-%m-%d')

In [3]:
df.head(3)

,Unnamed: 0,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,...,mean_3m_price_p1_var,mean_3m_price_p2_var,mean_3m_price_p3_var,mean_3m_price_p1_fix,mean_3m_price_p2_fix,mean_3m_price_p3_fix,mean_3m_price_p1,mean_3m_price_p2,mean_3m_price_p3,churn
0,0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,...,0.131756,0.092638,0.036909,42.497907,12.218665,8.145777,42.629663,12.311304,8.182687,1
1,1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,...,0.147600,0.000000,0.000000,44.444710,0.000000,0.000000,44.592310,0.000000,0.000000,0
2,2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,...,0.167798,0.088409,0.000000,44.444710,0.000000,0.000000,44.612508,0.088409,0.000000,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14605 entries, 0 to 14604
Data columns (total 54 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      14605 non-null  int64
 1   id                              14605 non-null  object
 2   channel_sales                   14605 non-null  object
 3   cons_12m                        14605 non-null  int64
 4   cons_gas_12m                    14605 non-null  int64
 5   cons_last_month                 14605 non-null  int64
 6   date_activ                      14605 non-null  datetime64[ns]
 7   date_end                        14605 non-null  datetime64[ns]
 8   date_modif_prod                 14605 non-null  datetime64[ns]
 9   date_renewal                    14605 non-null  datetime64[ns]
 10  forecast_cons_12m               14605 non-null  float64
 11  forecast_cons_year              14605 non-null  int64
 12  forecast_discount_energy        14605 non-null  float64
 13  forecast_meter_rent_12m         14605 non-null  float64
 14  forecast_price_energy_off_peak  14605 non-null  float64
 15  forecast_price_energy_peak      14605 non-null  float64
 16  forecast_price_pow_off_peak     14605 non-null  float64
 17  has_gas                         14605 non-null  object
 18  imp_cons                        14605 non-null  float64
 19  margin_gross_pow_ele            14605 non-null  float64
 20  margin_net_pow_ele              14605 non-null  float64
 21  nb_prod_act                     14605 non-null  int64
 22  net_margin                      14605 non-null  float64
 23  num_years_antig                 14605 non-null  int64
 24  origin_up                       14605 non-null  object
 25  pow_max                         14605 non-null  float64
 26  mean_year_price_p1_var          14605 non-null  float64
 27  mean_year_price_p2_var          14605 non-null  float64
 28  mean_year_price_p3_var          14605 non-null  float64
 29  mean_year_price_p1_fix          14605 non-null  float64
 30  mean_year_price_p2_fix          14605 non-null  float64
 31  mean_year_price_p3_fix          14605 non-null  float64
 32  mean_year_price_p1              14605 non-null  float64
 33  mean_year_price_p2              14605 non-null  float64
 34  mean_year_price_p3              14605 non-null  float64
 35  mean_6m_price_p1_var            14605 non-null  float64
 36  mean_6m_price_p2_var            14605 non-null  float64
 37  mean_6m_price_p3_var            14605 non-null  float64
 38  mean_6m_price_p1_fix            14605 non-null  float64
 39  mean_6m_price_p2_fix            14605 non-null  float64
 40  mean_6m_price_p3_fix            14605 non-null  float64
 41  mean_6m_price_p1                14605 non-null  float64
 42  mean_6m_price_p2                14605 non-null  float64
 43  mean_6m_price_p3                14605 non-null  float64
 44  mean_3m_price_p1_var            14605 non-null  float64
 45  mean_3m_price_p2_var            14605 non-null  float64
 46  mean_3m_price_p3_var            14605 non-null  float64
 47  mean_3m_price_p1_fix            14605 non-null  float64
 48  mean_3m_price_p2_fix            14605 non-null  float64
 49  mean_3m_price_p3_fix            14605 non-null  float64
 50  mean_3m_price_p1                14605 non-null  float64
 51  mean_3m_price_p2                14605 non-null  float64
 52  mean_3m_price_p3                14605 non-null  float64
 53  churn                           14605 non-null  int64
dtypes: datetime64[ns](4), float64(38), int64(8), object(4)
memory usage: 6.0+ MB

---

## 3. Feature engineering

### Difference between off-peak prices in December and preceding January

Below is the code created by your colleague to calculate the feature described above. Use this code to re-create this feature and then think about ways to build on this feature to create features with a higher predictive power.

In [5]:
price_df = pd.read_csv('price_data.csv')
price_df["price_date"] = pd.to_datetime(price_df["price_date"], format='%Y-%m-%d')
price_df.head()

,id,price_date,price_off_peak_var,price_peak_var,price_mid_peak_var,price_off_peak_fix,price_peak_fix,price_mid_peak_fix
0,038af19179925da21a25619c5a24b745,2015-01-01,0.151367,0.0,0.0,44.266931,0.0,0.0
1,038af19179925da21a25619c5a24b745,2015-02-01,0.151367,0.0,0.0,44.266931,0.0,0.0
2,038af19179925da21a25619c5a24b745,2015-03-01,0.151367,0.0,0.0,44.266931,0.0,0.0
3,038af19179925da21a25619c5a24b745,2015-04-01,0.149626,0.0,0.0,44.266931,0.0,0.0
4,038af19179925da21a25619c5a24b745,2015-05-01,0.149626,0.0,0.0,44.266931,0.0,0.0

In [6]:
price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193002 entries, 0 to 193001
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  193002 non-null  object
 1   price_date          193002 non-null  datetime64[ns]
 2   price_off_peak_var  193002 non-null  float64
 3   price_peak_var      193002 non-null  float64
 4   price_mid_peak_var  193002 non-null  float64
 5   price_off_peak_fix  193002 non-null  float64
 6   price_peak_fix      193002 non-null  float64
 7   price_mid_peak_fix  193002 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 11.8+ MB

In [7]:
price_df.id.nunique()

16096

In [8]:
# Group off-peak prices by companies and month
monthly_price_by_id = price_df.groupby(['id', 'price_date']).agg({'price_off_peak_var': 'mean', 'price_off_peak_fix': 'mean'}).reset_index()

# Get january and december prices
jan_prices = monthly_price_by_id.groupby('id').first().reset_index()
dec_prices = monthly_price_by_id.groupby('id').last().reset_index()

# Calculate the difference
diff = pd.merge(dec_prices.rename(columns={'price_off_peak_var': 'dec_1', 'price_off_peak_fix': 'dec_2'}), jan_prices.drop(columns='price_date'), on='id')
diff['offpeak_diff_dec_january_energy'] = diff['dec_1'] - diff['price_off_peak_var']
diff['offpeak_diff_dec_january_power'] = diff['dec_2'] - diff['price_off_peak_fix']
diff = diff[['id', 'offpeak_diff_dec_january_energy','offpeak_diff_dec_january_power']]
diff.head()

,id,offpeak_diff_dec_january_energy,offpeak_diff_dec_january_power
0,0002203ffbb812588b632b9e628cc38d,-0.006192,0.162916
1,0004351ebdd665e6ee664792efc4fd13,-0.004104,0.177779
2,0010bcc39e42b3c2131ed2ce55246e3c,0.050443,1.500000
3,0010ee3855fdea87602a5b7aba8e42de,-0.010018,0.162916
4,00114d74e963e47177db89bc70108537,-0.003994,-0.000001

In [9]:
diff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16096 entries, 0 to 16095
Data columns (total 3 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               16096 non-null  object
 1   offpeak_diff_dec_january_energy  16096 non-null  float64
 2   offpeak_diff_dec_january_power   16096 non-null  float64
dtypes: float64(2), object(1)
memory usage: 377.4+ KB

In [10]:
data = pd.merge(df, diff, how="left", on="id")
data = data.drop(columns=['Unnamed: 0'])
data.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,mean_3m_price_p3_var,mean_3m_price_p1_fix,mean_3m_price_p2_fix,mean_3m_price_p3_fix,mean_3m_price_p1,mean_3m_price_p2,mean_3m_price_p3,churn,offpeak_diff_dec_january_energy,offpeak_diff_dec_january_power
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,...,0.036909,42.497907,12.218665,8.145777,42.629663,12.311304,8.182687,1,0.020057,3.700961
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,0.000000,44.444710,0.000000,0.000000,44.592310,0.000000,0.000000,0,-0.003767,0.177779
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,0.000000,44.444710,0.000000,0.000000,44.612508,0.088409,0.000000,0,-0.004670,0.177779
3,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,...,0.000000,44.444710,0.000000,0.000000,44.593296,0.000000,0.000000,0,-0.004547,0.177779
4,149d57cf92fc41cf94415803a877cb4b,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,...,0.073719,40.728885,24.437330,16.291555,40.848791,24.539003,16.365274,0,-0.006192,0.162916

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14605 entries, 0 to 14604
Data columns (total 55 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               14605 non-null  object
 1   channel_sales                    14605 non-null  object
 2   cons_12m                         14605 non-null  int64
 3   cons_gas_12m                     14605 non-null  int64
 4   cons_last_month                  14605 non-null  int64
 5   date_activ                       14605 non-null  datetime64[ns]
 6   date_end                         14605 non-null  datetime64[ns]
 7   date_modif_prod                  14605 non-null  datetime64[ns]
 8   date_renewal                     14605 non-null  datetime64[ns]
 9   forecast_cons_12m                14605 non-null  float64
 10  forecast_cons_year               14605 non-null  int64
 11  forecast_discount_energy         14605 non-null  float64
 12  forecast_meter_rent_12m          14605 non-null  float64
 13  forecast_price_energy_off_peak   14605 non-null  float64
 14  forecast_price_energy_peak       14605 non-null  float64
 15  forecast_price_pow_off_peak      14605 non-null  float64
 16  has_gas                          14605 non-null  object
 17  imp_cons                         14605 non-null  float64
 18  margin_gross_pow_ele             14605 non-null  float64
 19  margin_net_pow_ele               14605 non-null  float64
 20  nb_prod_act                      14605 non-null  int64
 21  net_margin                       14605 non-null  float64
 22  num_years_antig                  14605 non-null  int64
 23  origin_up                        14605 non-null  object
 24  pow_max                          14605 non-null  float64
 25  mean_year_price_p1_var           14605 non-null  float64
 26  mean_year_price_p2_var           14605 non-null  float64
 27  mean_year_price_p3_var           14605 non-null  float64
 28  mean_year_price_p1_fix           14605 non-null  float64
 29  mean_year_price_p2_fix           14605 non-null  float64
 30  mean_year_price_p3_fix           14605 non-null  float64
 31  mean_year_price_p1               14605 non-null  float64
 32  mean_year_price_p2               14605 non-null  float64
 33  mean_year_price_p3               14605 non-null  float64
 34  mean_6m_price_p1_var             14605 non-null  float64
 35  mean_6m_price_p2_var             14605 non-null  float64
 36  mean_6m_price_p3_var             14605 non-null  float64
 37  mean_6m_price_p1_fix             14605 non-null  float64
 38  mean_6m_price_p2_fix             14605 non-null  float64
 39  mean_6m_price_p3_fix             14605 non-null  float64
 40  mean_6m_price_p1                 14605 non-null  float64
 41  mean_6m_price_p2                 14605 non-null  float64
 42  mean_6m_price_p3                 14605 non-null  float64
 43  mean_3m_price_p1_var             14605 non-null  float64
 44  mean_3m_price_p2_var             14605 non-null  float64
 45  mean_3m_price_p3_var             14605 non-null  float64
 46  mean_3m_price_p1_fix             14605 non-null  float64
 47  mean_3m_price_p2_fix             14605 non-null  float64
 48  mean_3m_price_p3_fix             14605 non-null  float64
 49  mean_3m_price_p1                 14605 non-null  float64
 50  mean_3m_price_p2                 14605 non-null  float64
 51  mean_3m_price_p3                 14605 non-null  float64
 52  churn                            14605 non-null  int64
 53  offpeak_diff_dec_january_energy  14605 non-null  float64
 54  offpeak_diff_dec_january_power   14605 non-null  float64
dtypes: datetime64[ns](4), float64(40), int64(7), object(4)
memory usage: 6.1+ MB

# ______________________________________________________________________
# ======================================================================
# ______________________________________________________________________

# Churn Model

### Preparing data

In [12]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data['channel_sales'] = le.fit_transform(data['channel_sales'])
data['has_gas'] = le.fit_transform(data['has_gas'])
data['origin_up'] = le.fit_transform(data['origin_up'])

In [13]:
data['join_days'] = data['date_end']  - data['date_activ']
data['join_days'] = data['join_days'].astype(str).str.split(pat=' ').str[0].astype(int) 

data['diff_modfi_act_days'] = data['date_modif_prod']  - data['date_activ']
data['diff_modfi_act_days'] = data['diff_modfi_act_days'].astype(str).str.split(pat=' ').str[0].astype(int) 

data['diff_renw_act_days'] = data['date_renewal']  - data['date_activ']
data['diff_renw_act_days'] = data['diff_renw_act_days'].astype(str).str.split(pat=' ').str[0].astype(int) 

data['diff_end_renw_year'] = data['date_end']  - data['date_renewal']
data['diff_end_renw_year'] = data['diff_end_renw_year'].astype(str).str.split(pat=' ').str[0].astype(int) / 365

data['diff_end_modif_days'] = data['date_end']  - data['date_modif_prod']
data['diff_end_modif_days'] = data['diff_end_modif_days'].astype(str).str.split(pat=' ').str[0].astype(int)

In [14]:
from sklearn.model_selection import train_test_split

train , test = train_test_split(data.drop(columns=['date_end','date_activ','date_modif_prod','date_renewal'])
                                 ,random_state=104, test_size=0.2, shuffle=True)
train.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,forecast_cons_12m,forecast_cons_year,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_off_peak,...,mean_3m_price_p2,mean_3m_price_p3,churn,offpeak_diff_dec_january_energy,offpeak_diff_dec_january_power,join_days,diff_modfi_act_days,diff_renw_act_days,diff_end_renw_year,diff_end_modif_days
2225,1d745e84464f51e8a0e04d188b7a0063,4,6129,0,0,892.11,0,0.0,0.00,0.137440,...,0.0,0.0,0,-0.009304,-0.000001,1413,1347,1053,0.986301,66
12977,743354298b704c8fb97205fa676c1c51,4,5628,0,0,842.08,0,0.0,18.27,0.145711,...,0.0,0.0,0,-0.001834,0.177779,1096,0,731,1.000000,1096
3058,ac1d6a51ab253efeb8d6c52131c1cdda,4,28353,0,2425,850.15,524,0.0,13.74,0.145711,...,0.0,0.0,0,-0.005533,0.177779,1461,551,1097,0.997260,910
10097,14cc98fea7979ce8be2497f10789c6e5,2,3610,0,0,536.24,0,0.0,16.93,0.144328,...,0.0,0.0,1,-0.002275,0.000000,1461,1063,1097,0.997260,398
12297,1dce9b927959bdd7a7f429062c0da7ba,0,2937,0,0,213.99,0,0.0,16.84,0.147506,...,0.0,0.0,0,-0.003045,2.177779,1827,0,1462,1.000000,1827

In [15]:
x = train.drop(columns=['id','churn'])
y = train.churn

x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=104, test_size=0.15, shuffle=True)

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score as acc
from sklearn.model_selection import cross_val_score,KFold
from sklearn.metrics import confusion_matrix
from sklearn.metrics import cohen_kappa_score as cks
from sklearn.utils.class_weight import compute_class_weight
from sklearn.model_selection import StratifiedKFold
from sklearn.ensemble import StackingClassifier
from sklearn.model_selection import RepeatedStratifiedKFold
from xgboost import XGBClassifier
from sklearn.metrics import log_loss

## Modeling
#### 1. Start with a Dummy Model (np.rand) - Baseline Model
#### 2. Simple Model (linear)
- Linear model
- calculate score
- calculate feature imporance
- Simple model with top 10/20 features
#### 3. Complex and Explainable Model (Tree Based)
#### 4. Deeper Model (XGBoost)